body {
    margin: 0;
    background-color: rgb(255, 255, 255);
    color: rgb(60, 60, 60);
    font-family: fantasy;
}

section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 40vh;
}

#div_buttons{
    display: flex;
    flex-direction: column;
}

#button_1, #button_2, #button_3{
    height: 8rem;
    width: 10rem;
    margin: auto;
    border-radius: 0.5rem;
    font-size: 2.5rem;
    background-color: rgb(219, 185, 141);
    margin: 0.3rem;
}
#button_1:hover, #button_2:hover, #button_3:hover{
    background-color: rgb(175, 146, 113);
}

#p_buchstabe, #p_streak{
    height: 8rem;
    width: auto;
    font-size: 4rem;
    color: rgb(107, 107, 107);
    text-align: center;
    align-content: center;
    margin: auto;
}

#p_höchsteStreak{
    height: 8rem;
    width: auto;
    font-size: 2rem;
    color: rgb(145, 108, 108);
    text-align: center;
    align-content: center;
    margin: auto;
}